USE [master]
GO
/****** Object:  Database [QuanLyChamSocKhachHang]    Script Date: 4/14/2026 10:52:32 PM ******/
CREATE DATABASE [QuanLyChamSocKhachHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyChamSocKhachHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS02\MSSQL\DATA\QuanLyChamSocKhachHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyChamSocKhachHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS02\MSSQL\DATA\QuanLyChamSocKhachHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyChamSocKhachHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyChamSocKhachHang]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/14/2026 10:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVus]    Script Date: 4/14/2026 10:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](max) NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
	[HinhAnh] [nvarchar](255) NULL,
 CONSTRAINT [PK_DichVus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHangs]    Script Date: 4/14/2026 10:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHangs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[DienThoai] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_KhachHangs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichHens]    Script Date: 4/14/2026 10:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHens](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangID] [int] NOT NULL,
	[NgayHen] [datetime2](7) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_LichHens] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuChamSocs]    Script Date: 4/14/2026 10:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuChamSocs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangID] [int] NOT NULL,
	[NhanVienID] [int] NOT NULL,
	[DichVuID] [int] NOT NULL,
	[NgayChamSoc] [datetime2](7) NOT NULL,
	[GhiChu] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LichSuChamSocs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 4/14/2026 10:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanViens](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[DienThoai] [nvarchar](max) NOT NULL,
	[TenDangNhap] [nvarchar](max) NOT NULL,
	[MatKhau] [nvarchar](max) NOT NULL,
	[Quyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanViens] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260217124716_InitialCreate', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[DichVus] ON 

INSERT [dbo].[DichVus] ([ID], [TenDichVu], [Gia], [MoTa], [HinhAnh]) VALUES (1, N'Gội đầu thảo dược', CAST(69000.00 AS Decimal(18, 2)), N'Gội đầu bằng thảo dược thiên nhiên là một cách hiệu quả để cải thiện sức khỏe của tóc và da đầu', N'Images\goidau.jpg')
INSERT [dbo].[DichVus] ([ID], [TenDichVu], [Gia], [MoTa], [HinhAnh]) VALUES (2, N'Chăm sóc da mặt', CAST(269000.00 AS Decimal(18, 2)), N'Chăm sóc da mặt tại spa bao gồm các bước làm sạch sâu, xông hơi, hút mụn, massage và đắp mặt nạ', N'Images\duongda.png')
INSERT [dbo].[DichVus] ([ID], [TenDichVu], [Gia], [MoTa], [HinhAnh]) VALUES (3, N'Massage body', CAST(369000.00 AS Decimal(18, 2)), N'Giúp giảm căng thẳng, cải thiện lưu thông máu, giảm đau nhức cơ bắp và hỗ trợ giấc ngủ ngon hơn.', N'Images\massage.jpg')
SET IDENTITY_INSERT [dbo].[DichVus] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHangs] ON 

INSERT [dbo].[KhachHangs] ([ID], [HoTen], [DienThoai], [Email], [DiaChi]) VALUES (1, N'Nguyễn Trần Nhã Vân', N'0987654321', N'nv@gmail.com', N'Long Xuyên')
INSERT [dbo].[KhachHangs] ([ID], [HoTen], [DienThoai], [Email], [DiaChi]) VALUES (2, N'Lê Minh Hoàng', N'0934567890', N'hoang.le@gmail.com', N'Chợ Mới')
INSERT [dbo].[KhachHangs] ([ID], [HoTen], [DienThoai], [Email], [DiaChi]) VALUES (3, N'Phạm Thị Thu Hà', N'0978123456', N'thuha.pham@gmail.com', N'Mỹ Hòa Hưng')
SET IDENTITY_INSERT [dbo].[KhachHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[LichHens] ON 

INSERT [dbo].[LichHens] ([ID], [KhachHangID], [NgayHen], [NoiDung], [TrangThai]) VALUES (1, 4, CAST(N'2026-03-27T00:00:00.0000000' AS DateTime2), N'(14h30) Khách đặt lịch chăm sóc da cơ bản, yêu cầu tư vấn trước khi thực hiện.', 1)
INSERT [dbo].[LichHens] ([ID], [KhachHangID], [NgayHen], [NoiDung], [TrangThai]) VALUES (2, 2, CAST(N'2026-03-28T00:00:00.0000000' AS DateTime2), N'(9h) Khách đăng ký liệu trình trị mụn, cần kiểm tra tình trạng da trước.', 0)
INSERT [dbo].[LichHens] ([ID], [KhachHangID], [NgayHen], [NoiDung], [TrangThai]) VALUES (3, 3, CAST(N'2026-03-29T00:00:00.0000000' AS DateTime2), N'(8h30) Đặt lịch gội đầu dưỡng sinh, yêu cầu nhân viên nữ phục vụ.', 0)
SET IDENTITY_INSERT [dbo].[LichHens] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuChamSocs] ON 

INSERT [dbo].[LichSuChamSocs] ([ID], [KhachHangID], [NhanVienID], [DichVuID], [NgayChamSoc], [GhiChu]) VALUES (1, 4, 1, 1, CAST(N'2026-03-27T14:23:11.7200000' AS DateTime2), N'Khách có dấu hiệu kích ứng nhẹ, đã tư vấn sử dụng sản phẩm dịu nhẹ tại nhà.')
INSERT [dbo].[LichSuChamSocs] ([ID], [KhachHangID], [NhanVienID], [DichVuID], [NgayChamSoc], [GhiChu]) VALUES (2, 3, 4, 3, CAST(N'2026-03-24T14:23:35.3820000' AS DateTime2), N'Quá trình thực hiện tốt, khách thư giãn và đánh giá cao tay nghề nhân viên.')
SET IDENTITY_INSERT [dbo].[LichSuChamSocs] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanViens] ON 

INSERT [dbo].[NhanViens] ([ID], [HoTen], [DienThoai], [TenDangNhap], [MatKhau], [Quyen]) VALUES (1, N'Lê Thị Huỳnh Như', N'096907625', N'hn', N'123', N'QuanLy')
INSERT [dbo].[NhanViens] ([ID], [HoTen], [DienThoai], [TenDangNhap], [MatKhau], [Quyen]) VALUES (2, N'Phạm Thị Trúc Như', N'0333666555', N'tn', N'456', N'NhanVien')
INSERT [dbo].[NhanViens] ([ID], [HoTen], [DienThoai], [TenDangNhap], [MatKhau], [Quyen]) VALUES (3, N'Nguyễn Thị Trúc Ly', N'0555666999', N'tl', N'789', N'NhanVien')
SET IDENTITY_INSERT [dbo].[NhanViens] OFF
GO
/****** Object:  Index [IX_LichHens_KhachHangID]    Script Date: 4/14/2026 10:52:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_LichHens_KhachHangID] ON [dbo].[LichHens]
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichSuChamSocs_DichVuID]    Script Date: 4/14/2026 10:52:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_LichSuChamSocs_DichVuID] ON [dbo].[LichSuChamSocs]
(
	[DichVuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichSuChamSocs_KhachHangID]    Script Date: 4/14/2026 10:52:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_LichSuChamSocs_KhachHangID] ON [dbo].[LichSuChamSocs]
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichSuChamSocs_NhanVienID]    Script Date: 4/14/2026 10:52:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_LichSuChamSocs_NhanVienID] ON [dbo].[LichSuChamSocs]
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LichHens]  WITH CHECK ADD  CONSTRAINT [FK_LichHens_KhachHangs_KhachHangID] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHangs] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichHens] CHECK CONSTRAINT [FK_LichHens_KhachHangs_KhachHangID]
GO
ALTER TABLE [dbo].[LichSuChamSocs]  WITH CHECK ADD  CONSTRAINT [FK_LichSuChamSocs_DichVus_DichVuID] FOREIGN KEY([DichVuID])
REFERENCES [dbo].[DichVus] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuChamSocs] CHECK CONSTRAINT [FK_LichSuChamSocs_DichVus_DichVuID]
GO
ALTER TABLE [dbo].[LichSuChamSocs]  WITH CHECK ADD  CONSTRAINT [FK_LichSuChamSocs_KhachHangs_KhachHangID] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHangs] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuChamSocs] CHECK CONSTRAINT [FK_LichSuChamSocs_KhachHangs_KhachHangID]
GO
ALTER TABLE [dbo].[LichSuChamSocs]  WITH CHECK ADD  CONSTRAINT [FK_LichSuChamSocs_NhanViens_NhanVienID] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanViens] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuChamSocs] CHECK CONSTRAINT [FK_LichSuChamSocs_NhanViens_NhanVienID]
GO
USE [master]
GO
